.container {
  max-width: 100rem;
}

.markdown .book-hint {
  margin: 1rem 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: .5rem 1rem .5rem .75rem;
  border-inline-start: .25rem solid;
  border-radius: .25rem;

  &.info {
    border-color: #4a9eff;
    background-color: rgba(74, 158, 255, .12);
  }

  &.warning {
    border-color: #f0a500;
    background-color: rgba(240, 165, 0, .12);
  }

  &.danger {
    border-color: #e53935;
    background-color: rgba(229, 57, 53, .12);
  }
}
