<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>
<div class="row-fluid">
  <div class="span12">  
    <div id="article">
    {{ content }}
    <p>继续阅读关于
    {% unless page.tags == empty %}
    {% assign tags_list = page.tags %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %} 
      	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" rel="tag">{{ tag }}</a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %} 
      	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref" rel="tag">{{ tag[0] }}</a>
      {% endfor %}
    {% endif %}
    {% endunless %}
    {% assign tags_list = nil %}
    的文章</p>
    </div>  

    <hr/>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 上一篇</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>下一篇 &rarr;</a>
      {% endif %}
      </ul>
    </div>
    
    <!-- <p>
      欢迎订阅我的微信公众帐号，只推送原创文字。欢迎扫描二维码订阅：<br/>
      <img src="/assets/images/weixin-justjavac.jpg" alt="justjavac微信公众帐号"/>
    </p>
    <hr/> -->
   <!-- wumi 阅读推荐 -->
    <script type="text/javascript">
        var wumiiPermaLink = ""; //请用代码生成文章永久的链接
        var wumiiTitle = {{ page.title | jsonify }}; //请用代码生成文章标题
        var wumiiTags = {{ page.tags | join:"," | jsonify }}; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
        var wumiiCategories = {{ page.categories | jsonify }};
        var wumiiSitePrefix = "http://pemako.cn/";
        var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
    </script>
    <script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
    <a href="http://www.wumii.com/widget/relatedItems" style="border:0;">
        <img src="http://static.wumii.cn/images/pixel.png" alt="无觅关联推荐，快速提升流量" style="border:0;padding:0;margin:0;" />
    </a>
    <hr>

    <!-- Duoshuo Comment BEGIN -->
    <div id="comments" class="ds-thread" data-title="{{ page.title }}" data-url="{{ site.production_url }}{{ page.url }}" data-thread-key="{{ page.id }}"></div>
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"pemako"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0] 
          || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
<!-- Duoshuo Comment END -->
  </div>
 
</div>
